* {margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif; color:black}
li {list-style: none}

#welcome{
  font-size: 48px;
  color: rgb(88, 196, 234);
}

header{
  background-color: black;
  }


#main-banner{height: 18rem; padding-top: 10rem; padding-left: 20px; background-image: url("resources/ladyandthetramp.jpeg");font-size: 5rem; color: #333;}

#nav-container > ul > li {display: inline-block; padding: 1.5rem 2rem; color: white;}
.movie-article {
  color: #999;
  font-size: 1.2rem; padding: 1rem 1rem;
}

