* {margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif; color:black}
li {list-style: none}

#welcome{
  font-size: 48px;
  color: rgb(88, 196, 234);
}

header{
  background-color: black;
  }

#nav-container > ul > li {display: inline-block; padding: 1.5rem 2rem; color: white;}

#main-banner{height: 18rem; padding-top: 10rem; padding-left: 1.5em; background-image: url("resources/ladyandthetramp.jpeg"); background-position: center;}

#main-banner> h1 {
  color: #333;
  font-size: 5rem;
  padding-left: 1em;
}

h1{
  margin-top: 10px;
}

.main .container{
  width: 70%;
  margin: 0 auto;
}
.movie-article {
  color: #999;
  font-size: 1.2rem; padding-top: 1rem;
}
.img-wrap {
  padding-top: 1rem;
  display: flex;
}
.movie-poster{
  margin-right: 1rem;
  justify-content: space-between;
}

.poster-right{ 
  padding-top: 0;
  justify-content: space-between;}

  .img-flex-products{
    flex-basis: 33%;
  }

  .img-flex-products > img {
    width: 100%;
  }


